# General
NODE_ENV=production
PORT=3000

# Logging
LOG_LEVEL=info

# Database
DB_URI=mongodb+srv://<username>:<password>@cluster0.rqz803w.mongodb.net/subscription_notes_saas

# Rate Limit
RATE_LIMIT_MAX_REQ_COUNT=100
RATE_LIMIT_WINDOW_TIME_MINUTES=30

# CORS
ALLOWED_ORIGINS=http://localhost:5173